name: Drizzle Migrations

on:
  push:
    branches: [main]

jobs:
  run-migrations:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: oven-sh/setup-bun@v2

      - run: bun ci

      - name: Check DATABASE_URL
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: |
          if [ -n "$DATABASE_URL" ]; then
            echo "DATABASE_URL is set"
          else
            echo "DATABASE_URL is not set"
            exit 1
          fi

      - name: Run Drizzle migrations
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: bun run db:migrate

